/* TELA DE TABLET */
@charset "UTF-8";

@media screen and (min-width: 500px){
    body, html{
        background-image: linear-gradient(to bottom, #221236, #3D245C,  #6d4a97,  #7f5fa6);
    }

    section#login{
        width: 80vw;
    }

    section#login > div#img{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form{
        float: right;
        width: 70%;
        margin-top: 90px;
    }

}